
[mysqld]
server-id=10
binlog-format=row
log-bin =/home/mysql/mysql-bin
relay-log-index=slave-relay-bin.index
relay-log=slave-relay-bin
#设置需要同步的从库
#replicate-do-db=test
#更新从库的binlog
log_slave_updates=1
#replicate-do-table=order_history_count

#replicate-do-db 设定需要复制的数据库(多数据库使用逗号，隔开)

#replicate-ignore-db 设定需要忽略的复制数据库 (多数据库使用逗号，隔开)

#replicate-do-table 设定需要复制的表

#replicate-ignore-table 设定需要忽略的复制表

#replicate-wild-do-table 同replication-do-table功能一样，但是可以通配符

#replicate-wild-ignore-table 同replication-ignore-table功能一样，但是可以加通配符



datadir=/home/mysql/data
basedir=/usr/local/mysql
socket=/tmp/mysql.sock
user=mysql
port=3306
character-set-server=utf8
# 取消密码验证
#skip-grant-tables
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# skip-grant-tables
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
