[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

#server_id=1
#log-bin=master
#binlog_format=row

server-id=2
binlog-format=row
log-bin =/var/lib/mysql/mysql-bin
log-bin-index=mysql-bin.index
lower_case_table_names=1
#下面是同步到从库的数据库，不配置则同步所有
#binlog-do-db=test,test_data_sync
default-time_zone = '+8:00'
#下面是不记录binlog的配置
#binlog-ignore-db = information_schema

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

